body {
  color: green;
}

body p {
  color: black;
}

#the-heading {
  color: purple;
}

.blue-text {
  color: blue;
}

ul + p {
  
}

p {
  color: blue;
  color: red;
}

h1, p {
  background: pink;
}

